#newTodoField.field.has-addons
    .control.is-expanded
        input#newTodoInput.input(type="text" placeholder="Enter a new todo...")
    .control.has-icons-right
        a#addTodoBtn.button
            i.fas.fa-plus