<footer style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: #f8f9fa; color: black; text-align: center;">
    <p class="footer-text">Made with ❤️ by <a href="https://github.com/Yuvraj0157" target="_blank">Yuvraj Singh</a></p>
</footer>
</body>
</html>