<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
</head>
<body>
<div class="header">
    <h1>Todo App</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>