<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        p {
            font-size: 15px;
            margin: 0;
        } 
        img {
            height: 300px;
            width: 300px;
            margin: 20px 0;
        }

    </style>
</head>
<body>
    <img src="500.svg" alt="500">
    <h1>Some error occurred!</h1>
    <p>We're working on fixing this, sorry for the inconvenience!</p>
</body>
</html>