 <!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
    
        <title><%= title %></title>
    
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
        <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
    
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    </head>
  <body class="text-center">
    <form action="/register" method="post" id="signupform" class="form-signin">
        <a href="/home"><img class="mb-4" src="logo1.svg" alt="logo" width="150" height="150"></a>
      <h1 class="h5 mb-3 font-weight-normal">Register</h1>
      <label for="inputUsername" class="sr-only">Username</label>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="confirmPassword" class="sr-only">Confirm Password</label>
      <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
      <button class="btn btn-lg btn-danger btn-block" type="submit">Register</button>
      <br>
      <a href="/login">Already have an account?</a>
      <p class="mt-5 mb-3 text-muted">&copy; 2024</p>
    </form>
  </body>
</html> 

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <form action="/register" method="post" id="signupform">
    <label for="inputEmail">Email address</label>
    <input type="email" id="inputEmail" name="email" required>
    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword" name="password" required>
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <button type="submit">Register</button>
  </form>
  <a href="/login">Already have an account?</a>
</body>
</html> -->