<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/favicon.ico">
    
        <title><%= title %></title>
    
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
        <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
    
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    </head>
  <body class="text-center">
    <form action="/reset-password" method="post" id="signupform" class="form-signin">
      <img class="mb-4" src="/logo1.svg" alt="logo" width="150" height="150">
      <h1 class="h5 mb-3 font-weight-normal">Reset Password</h1>

      <% if (error) { %>
        <div style="padding: 3px; color: rgb(255, 34, 0);">
        <%= error %>
        </div>
      <% } %>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="confirmPassword" class="sr-only">Confirm Password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>

      <input type="hidden" name="token" value="<%= token %>">

      <button class="btn btn-lg btn-success btn-block" type="submit">Reset</button>
    </form>
  </body>
</html> 